### Nomor 1

In [46]:
import pandas as pd

In [47]:
def status(penghasilan):
    if penghasilan > 15:
        return "Crazy Rich"
    elif 5 <= penghasilan <= 15:
        return "Makmur"
    elif 2 <= penghasilan <= 5:
        return "Mandiri"
    elif 1 <= penghasilan <= 2:
        return "Butuh Pendampingan"
    elif 0 <= penghasilan <= 1:
        return "Rentan"
    else:
        return "Penghasilan tidak mungkin negatif"

In [48]:
data = []

for i in range(10):
    input_data = input(f"Masukkan data keluarga ke-{i + 1} (Contoh: 'Nama | Penghasilan'): ")
    nama, penghasilan_str = input_data.split("|")
    nama = nama.strip()
    penghasilan = float(penghasilan_str.strip())
    
    if penghasilan < 0:
        print("Penghasilan tidak mungkin negatif. Data tidak disimpan.")
        continue
        
    status_ekonomi = status(penghasilan)
    data.append([nama, penghasilan, status_ekonomi])

Masukkan data keluarga ke-1 (Contoh: 'Nama | Penghasilan'):  adi | 0
Masukkan data keluarga ke-2 (Contoh: 'Nama | Penghasilan'):  budi beriman | 2
Masukkan data keluarga ke-3 (Contoh: 'Nama | Penghasilan'):  cyntia | 3
Masukkan data keluarga ke-4 (Contoh: 'Nama | Penghasilan'):  deni alfarisi | 4
Masukkan data keluarga ke-5 (Contoh: 'Nama | Penghasilan'):  eko fahrudin | 6.2
Masukkan data keluarga ke-6 (Contoh: 'Nama | Penghasilan'):  fani veronica | 7.2
Masukkan data keluarga ke-7 (Contoh: 'Nama | Penghasilan'):  ghani berwawasan | 89
Masukkan data keluarga ke-8 (Contoh: 'Nama | Penghasilan'):  hendra setiawan | 19
Masukkan data keluarga ke-9 (Contoh: 'Nama | Penghasilan'):  indira | 5
Masukkan data keluarga ke-10 (Contoh: 'Nama | Penghasilan'):  joni alkatiri | 100

In [49]:
df = pd.DataFrame(data, columns=["Nama kepala keluarga", "Penghasilan bulanan dalam juta", "Status ekonomi"])

df.to_csv("data.csv", index=False)

print("Data berhasil disimpan.")

Data berhasil disimpan.

### Nomor 2

In [52]:
import numpy as np
import pandas as pd
tugas = np.random.normal(85, 7, 40)
uts = np.random.normal(60, 15, 40)
uas = np.random.normal(75, 10, 40)
data = pd.DataFrame({'Tugas': tugas, 'UTS': uts, 'UAS': uas})
data['Nilai Akhir'] = 0.2 * data['Tugas'] + 0.4 * data['UTS'] + 0.4 * data['UAS']
def score(nilai):
    if nilai >= 85:
        return 'A'
    elif nilai >= 80:
        return 'A-'
    elif nilai >= 75:
        return 'B+'
    elif nilai >= 70:
        return 'B'
    elif nilai >= 65:
        return 'B-'
    elif nilai >= 60:
        return 'C+'
    elif nilai >= 55:
        return 'C'
    elif nilai >= 50:
        return 'C-'
    elif nilai >= 20:
        return 'D'
    else:
        return 'E'

data['Kategori Nilai'] = data['Nilai Akhir'].apply(score)

data.head(40)

         Tugas        UTS        UAS  Nilai Akhir Kategori Nilai
0    83.896416  81.464077  89.380975    85.117304              A
1    85.215289  65.456174  77.633250    74.278827              B
2    76.690710  53.622307  74.212208    66.471948             B-
3    89.340747  73.752270  85.480661    81.561322             A-
4    83.645667  71.246815  64.287515    70.942865              B
5    89.910552  61.593029  75.499043    72.818939              B
6    80.783353  37.452066  74.975999    61.127897             C+
7    87.903589  88.882308  64.294272    78.851350             B+
8    77.073329  75.071803  89.720409    81.331551             A-
9    84.915561  71.806548  69.410363    73.469877              B
10   91.235135  68.661644  69.739928    73.607656              B
11   83.703166  75.732047  63.099793    72.273369              B
12   67.518257  67.803188  75.252538    70.725942              B
13   82.753457  47.176134  63.943154    60.998407             C+
14   87.689416  45.304669  90.504600    71.861591              B
15   81.480557  49.837090  69.007944    63.834125             C+
16   78.797914  53.812743  69.522715    65.093766             B-
17   83.376614  52.713300  75.896237    68.119137             B-
18   86.004014  74.495062  54.761750    68.903527             B-
19   76.311692  45.573959  75.859031    63.835535             C+
20   83.279622  62.023393  94.005954    79.067663             B+
21   85.569639  61.246149  83.433291    74.985704              B
22   92.642372  41.714262  78.290714    66.530465             B-
23   97.160203  65.516977  84.179135    79.310485             B+
24   87.153498  59.776868  66.579761    67.973351             B-
25  100.593456  48.048675  67.523221    66.347450             B-
26   89.436283  63.094304  66.605645    69.767236             B-
27   85.575407  56.725084  66.822778    66.534226             B-
28   88.419700  54.035991  69.994735    67.296231             B-
29   78.526566  84.345245  89.896458    85.401994              A
30   83.537746  71.137485  76.930210    75.934627             B+
31   84.623735  58.615481  74.748169    70.270207              B
32   92.376608  64.901480  76.220230    74.924005              B
33   84.027600  73.093559  73.614845    75.488882             B+
34   78.586493  86.524365  79.247458    82.026028             A-
35   92.469694  62.442261  73.191226    72.747333              B
36   73.008913  50.256415  83.885301    68.258469             B-
37   84.059043  68.260430  61.275397    68.626139             B-
38   78.077625  67.769660  85.966493    77.109986             B+
39   79.978221  74.199449  89.005925    81.277794             A-